/* Toolbar icon */
#output-panel-icon {
    background: url(icon.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    display: inline-block;
    position: relative;
    width: 18px;
    height: 11px;
    padding-right: 8px;
    opacity: .7;
}

#output-panel-icon.active {
    opacity: .9;
}

#output-panel-icon:hover {
	opacity: .5;
}

/* Toolbar button */
#output-panel-clear-all {
    background: url(clear-all.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    display: inline-block;
    position: absolute;
    margin-left: 10px;
    width: 32px;
    height: 20px;
    opacity: .7;
}

#output-panel-clear-all:hover {
	opacity: .5;
}