.output-panel-tool {
    position: absolute;
}

.output-panel-label {
    text-decoration: none;
    display: inline;
}

/* Toolbar icon */
#output-panel-icon {
    background: url(icon.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    display: inline-block;
    position: relative;
    width: 18px;
    height: 11px;
    padding-right: 8px;
    opacity: .7;
}

#output-panel-icon.active {
    opacity: .9;
}

#output-panel-icon:hover {
	opacity: .5;
}

#output-panel-divider {
    margin-left: 10px;
    margin-right: 10px;
    opacity: .4;
}

#output-panel-category {
    height: 19px;
    width: 200px;
    font-size: 13px;
    font-weight: normal;
    text-decoration: none;
    padding: 0;
}

/* Toolbar button */
#output-panel-clear-all {
    background: url(clear-all.svg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    display: inline-block;
    margin-top: 2px;
    margin-left: 210px;
    width: 26px;
    height: 17px;
    opacity: .5;
}

#output-panel-clear-all:hover {
	opacity: .7;
}